{% extends "layout.html" %}

{% block content %}

<h2>{{ doubt.title }}</h2>
<p>{{ doubt.description }}</p>

<h3>Answers</h3>

{% for answer in answers %}
<p>{{ answer.content }} - {{ answer.user.username }}</p>
{% endfor %}

{% if current_user.role == "faculty" and doubt.author.faculty_id == current_user.id %}

<h3>Post Your Answer</h3>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.content.label }}
    {{ form.content }}

    {{ form.submit }}
</form>

{% endif %}

{% endblock %}
